@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* header */

.header_container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 657px;
    overflow: hidden;
    background: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(107, 106, 106);
}

/* header_buttons */

.header_buttons{
    position: absolute;
    top: 25%;
    left: 20%;
}

.content{
    border-left: 5px solid rgb(51, 51, 51);
}

.content h1{
    position: relative;
    margin: 0;
    padding-bottom: 5px;
    color: white;
}

.content h1:hover::before{
    opacity: 1;
}

.content h1::before{
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
    background: rgb(71, 145, 255);
    opacity: 0;
    z-index: 10;
}

.content h1 a{
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-size: 50px;
    font-weight: 400;
    margin-left: 20px;
    transition: 0.4s;
}

.content h1 a:hover{
    color:rgb(71, 145, 255);
}

.content span{
    font-size: 18px;
    padding-right: 5px;
    color: rgb(247, 247, 247);
    position: relative;
    transition: 0.4s;
    bottom: 20px;
    opacity: 0;
}

.content h1 a:hover span{
    opacity: 1;
    transition: 0.5s;
}

.content h1 a:hover{
    transition: 0.4s;
    padding-left: 15px;
}

/* info */

.info{
    position: absolute;
    top: 43%;
    left: 55%;
}

@keyframes logo{
    100%{
        transform: scale(1.1);
    }
}

/* header_title */

.header_title{
    width: 100%;
    text-align: center;
}

.header_title a img{
    width: 100px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    border-radius: 50%;

    animation: logo 1s linear infinite alternate;
}

.header_title img:hover{
    animation-play-state: paused;
}

.header_title P{
    font-style: italic;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    color: rgb(37, 37, 37);
}

/* main */

.main{
    border: 2px solid rgb(49, 49, 49);
    margin: 0 auto;
    color: rgb(46, 46, 46);
    font-weight: 600;
    font-size: 15px;
    display: block;
    padding: 4px 0;
    width: 100px;
    text-align: center;
    transition: .3s;
    margin-top: 20px;
}

.main:hover{
    text-decoration: none;
    border: 2px solid rgb(71, 145, 255);
    background: rgb(71, 145, 255);
    color: white;
}

/* circle is a rotating block inside of a header with a white background*/

.circle{
    width: 1100px;
    height: 1100px;
    border: 3px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    position: absolute;
    right: 12%;
    top: -20%;

    animation: boll 45s ease infinite alternate;
}

@keyframes boll{
    100%{
        transform: rotate(360deg);
    }
}

/* main */

/* main_block1 */

.main_block1{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 50px;
    position: relative;
}

.block1_inside{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    position: relative;
}

.block1_inside .block1_inner{
    width: 49%;
    text-align: center;
}

.swiper-container{
    width: 80%;
    height: 80%;
    margin-top: 7%;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: .3s;
    border-radius: 5px;
}

.swiper-slide:hover{
    transform: scale(1.1);
}

.swiper-slide1{
    background: url('../img/academy1.jpg') center / cover;
}

.swiper-slide2{
    background: url('../img/academy2.jpg') center / cover;
}

.swiper-slide3{
    background: url('../img/academy3.jpg') center / cover;
}

.swiper-slide4{
    background: url('../img/academy2.jpg') center / cover;
}

.swiper-slide5{
    background: url('../img/academy3.jpg') center / cover;
}

.block1_inside .block1_inner h1{
    color: rgb(49, 49, 49);
    margin-bottom: 20px;
    margin-top: 30px;
}

.block1_inside .block1_inner p{
    color: rgb(49, 49, 49);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* main_block2 */

.main_block2{
    width: 100%;
    background: rgb(71, 145, 255);
    padding: 50px 0;
    padding-bottom: 70px;
}

.block2_title{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.block2_title h1{
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
}

.block2_title p{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

.block2_upper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.block2_upper div{
    width: 30%;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    background: rgb(42, 127, 255);
    transition: .3s;
}

.block2_upper div:hover{
    box-shadow: 0px 0px 7px white;
}

.block2_upper div h2{
    color: white;
    margin-bottom: 12px;
    position: relative;
}

.block2_upper div p{
    color: white;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
}

/* main_block3 */

.main_block3{
    padding: 80px 0px;
    padding-bottom: 100px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.block3_title{
    width: 100%;
    margin-bottom: 90px;
    text-align: center;
    z-index: 100;
    position: relative;
}

.block3_title h1{
    color: rgb(75, 75, 75);
    font-size: 50px;
    margin-bottom: 10px;
}

.block3_title p{
    color: rgb(75, 75, 75);
}

/* block3_inside1 */

.block3_inside1{
    width: 100%;
    margin-bottom: 50px;
}

.block3_inner{
    width: 100%;
    height: 550px;
    position: relative;
}

.block3_inner1{
    background: url('../img/online-jobs-no-experience.jpg') center / cover fixed;
}

.block3_inner2{
    background: url('../img/languages.jpg') center / cover fixed;
}

.block3_inner3{
    background: url('../img/laptop.jpg') center / cover fixed;
}

.block3_inner:hover .block3_content{
    background: white;
}

.block3_content{
    width: 60%;
    left: 20%;
    bottom: 15%;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    transition: .3s;
    padding-top: 25px;
}

.block3_content h5{
    color: rgb(71, 145, 255);
    width: 70%;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}

.block3_inner:hover .block3_content h5::before{
    width: 50%;
    left: 25%;
}

.block3_content h5::before{
    content: "";
    width: 0%;
    transition: .3s;
    bottom: -12px;
    background: rgb(71, 145, 255);
    height: 3px;
    left: 50%;
    position: absolute;
}

.block3_content p{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
    line-height: 1.7;
    margin-bottom: 20px;
}

/* main_block4 */

.main_block4{
    width: 100%;
    height: 400px;
}

.block4_inside{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.block4_inner{
    width: 25%;
    position: relative;
}

.block4_inner:hover .block4_content h3{
    color: rgb(71, 145, 255);
}

.block4_inner:hover::before{
    background: none;
}

.block4_inner::before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.block4_inner .block4_content{
    width: 100%;
    text-align: center;
    height: 50%;
    padding-top: 25px;
}

.block4_inner .block4_content p{
    font-weight: 300;
    margin: 0 auto;
    width: 80%;
}

.block4_inner .block4_banner{
    width: 100%;
    height: 50%;
}

.block4_banner1{
    background: url('../img/academy1.jpg') center / cover;
}

.block4_banner2{
    background: url('../img/academy2.jpg') center / cover;
}

.block4_banner3{
    background: url('../img/academy3.jpg') center / cover;
}

.block4_banner4{
    background: url('../img/academy1.jpg') center / cover;
}

/* main_block5 */

.main_block5{
    width: 100%;
    padding-top: 50px;
}

.block5_upper{
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.block5_upper div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
}

.block5_upper div:hover i{
    transform: scale(-1,1);
    color: rgb(71, 145, 255);
}

.block5_upper div:hover h2{
    color: rgb(71, 145, 255);
}

.block5_upper div i{
    font-size: 80px;
    transition: .3s;
    color: rgb(80, 80, 80);

    animation: around 5s linear infinite alternate;
}

.block5_upper div h2{
    margin-top: 20px;
    transition: .3s;
    color: rgb(80, 80, 80);
}

.block5_upper_inner2::before{
    content: "";
    position: absolute;
    top: 45%;
    right: -111px;
    background: rgb(80, 80, 80);
    height: 4px;
    width: 60px;
}

.block5_upper_inner2::after{
    content: "";
    position: absolute;
    top: 45%;
    left: -111px;
    background: rgb(80, 80, 80);
    height: 4px;
    width: 60px;
}

/* block5_lower */

.block5_lower{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

.block5_lower p{
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
}

/* footer */

/* main_footer */

.main_footer{
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    padding: 50px 0;
    background: rgb(0, 0, 0);
}

/* footer_inside */

.footer_inside{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.footer_inside div{
    width: 25%;
}

.footer_inside div:nth-child(1){
    padding-left: 20px;
}

.footer_inside div:nth-child(2){
    width: 50%;
}

/* footer_title */

.footer_title{
    color: white;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 30px;
    position: relative;
}

.footer_title::before{
    content: "";
    position: absolute;
    left: 0;
    background: rgb(0, 102, 255);
    height: 2px;
    width: 80%;
    bottom: -8px;
}

/* footer_inner1 */

.footer_inner ul{
    padding: 0px;
    list-style: none;
}

.footer_inner ul li{
    margin-bottom: 15px;
}

.footer_inner ul li a{
    color: white;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    letter-spacing: 1px;
    transition: .2s;
}

.footer_inner ul li a::before{
    content: "";
    position: absolute;
    left: -5px;
    bottom: 6px;
    background:rgb(0, 102, 255);
    height: 8px;
    width: 8px;
    transition: .2s;
    transform: rotate(45deg);
    opacity: 0;
}

.footer_inner ul li a:hover{
    font-weight: 600;
    text-decoration: none;
    padding-left: 12px;
}

.footer_inner ul li a:hover::before{
    opacity: 1;
    animation: boll 2s ease infinite alternate;
}

.footer_inner3 div{
    margin-bottom: 30px !important;
}

.footer_inner3 div a{
    padding: 3px 9px;
    font-size: 22px;
    color: white;
    margin-right: 10px;
    background: rgb(32, 32, 32);
    transition: .3s;
    border-radius: 3px;
}

.footer_inner3 div a i{
    transition: .3s;
}

.footer_inner3 div a:hover i{
    transform: scale(1.1);
}

.footer_inner3 div a:hover{
    background: rgb(0, 102, 255);
}

.footer_inner div p{
    color: white;
    font-weight: 300;
    line-height: 1.5;
    font-size: 15px;
    letter-spacing: 1px;
}

.footer_inner div{
    margin: 20px 0;
    width: 90%;
}

.footer_inner3 ul:nth-child(2){
    margin-bottom: 40px;
}

/* Адаптивка */


/* footer */


@media screen and (max-width:1000px){

    .footer_inner3{
        order: 2;
        padding-left: 100px !important;
        padding-top: 0px;
    }
    
    .footer_inside{
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer_inside .footer_inner{
        width: 50%;
    }

    .footer_inner1{
        order: 1;
        padding-left: 50px !important;
    }

    .footer_inner2{
        order: 3;
        width: 89% !important;
        margin: 0 auto;
        position: relative;
        margin-top: 30px;
    }

    .footer_inner2 div{
        width: 75%;
        position: absolute;
        right: 30px;
        top: 45px;
    }

    .footer_inner2 div p{
        margin: 0px 10px;
    }

    .footer_title::before{
        width: 65%;
    }

    .footer_title3::before{
        width: 94% !important;
    }
}

@media screen and (max-width:900px){

    .footer_inner1{
        padding-left: 45px !important;
    }

    .footer_title::before{
        width: 80%;
    }
}

@media screen and (max-width:800px){

    .footer_inner1{
        padding-left: 20px !important;
    }

    .footer_inner2{
        width: 94% !important;
    }

    .footer_inner3{
        padding-left: 20px !important;
    }
}

@media screen and (max-width:700px){

    .footer_inner1{
        padding-top: 15px !important;
    }

    .footer_inner3{
        padding-left: 30px !important;
        padding-top: 0px;
    }

    .footer_inner3 h3{
        margin-top: 0px !important;
    }

    .footer_inner1{
        padding-left: 20px !important;
    }

    .footer_inner2{
        width: 93% !important;
    }

    .footer_inner2 div p{
        font-size: 14px;
    }
}

@media screen and (max-width:600px){

    .footer_inner1{
        padding-left: 10px !important;
    }

    .footer_inner2{
        width: 97% !important;
    }

    .footer_inner2 div p{
        font-size: 13px;
    }

    .footer_inner3{
        padding-left: 0px !important;
    }
}

@media screen and (max-width:550px){

    .footer_inner3{
        padding-top: 21px;
    }
}

@media screen and (max-width:525px){

    .footer_title::before{
        width: 100% !important;
        bottom: -14px;
    }

    .footer_title{
        margin-bottom: 35px;
    }

    .footer_inner3{
        width: 100% !important;
        text-align: center;
        margin-bottom: 10px;
    }

    .footer_inner3 ul:nth-child(2){
        margin-bottom: 30px !important;
    }

    .footer_inner3 ul:nth-child(3){
        margin-bottom: 0px !important;
    }

    .main_footer{
        margin-top: 70px;
    }

    .footer_inner ul li a::before{
        display: none;
    }

    .footer_inner ul li a:hover{
        color: rgb(14,46,138);
        padding-left: 0px;
    }

    .footer_inner ul li a{
        color: white;
        font-size: 18px;
        font-weight: 400;
        position: relative;
        letter-spacing: 1px;
        transition: .2s;
    }
    
    .footer_inner ul li{
        margin-bottom: 15px;
    }

    .footer_inner1{
        width: 100% !important;
        text-align: center;
    }
    
    .footer_inner2{
        width: 100% !important;
        text-align: center;
    }

    .footer_inner2 div p{
        display: none;
    }
}

@media screen and (max-width:375px){

    .footer_inner ul li a{
        font-size: 17px;
    }
}


/* footer */


/* header / main */


@media screen and (max-width:1140px){

    .header_container{
        height: 600px;
    }

    .block2_upper div{
        width: 32%;
    }

    .block4_inner{
        width: 25%;
    }

    .main_block4{
        height: 500px;
    }

    .block5_upper_inner2::before{
        top: 45%;
        right: -95px;
        width: 60px;
    }
    
    .block5_upper_inner2::after{
        top: 45%;
        left: -95px;
        width: 60px;
    }
}

@media screen and (max-width:1070px){

    .header_container{
        height: 550px;
    }

    .header_buttons{
        top: 20%;
        left: 17%;
    }

    .info{
        top: 41%;
        left: 50%;
    }

    .circle{
        width: 1000px;
        height: 1000px;
        right: 12%;
        top: -20%;
    }

    .block1_inside .block1_inner h1{
        font-size: 32px;
    }
    
    .block1_inside .block1_inner p{
        font-size: 15px;
        width: 90%;
    }
    
    .block5_upper{
        width: 95%;
    }
}

@media screen and (max-width:1000px){

    .block5_upper{
        width: 100%;
    }

    .block2_title h1,
    .block3_title h1{
        font-size: 45px;
    }

    .block2_upper{
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .block2_upper div{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        padding: 15px;
    }
}

@media screen and (max-width:950px){

    .block1_inside{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        position: relative;
    }
    
    .block1_inside .block1_inner{
        width: 100%;
        text-align: center;
    }

    .block1_inner1{
        height: 450px;
    }

    .block1_inside2 .block1_inner1{
        order: 1;
    }

    .block1_inside2 .block1_inner2{
        order: 2;
    }

    .main_block1{
        margin-bottom: 50px;
    }

    .block4_inside{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .block4_inner{
        width: 50%;
    }

    .main_block4{
        height: 1000px;
    }

    .block4_inner .block4_content{
        height: 50%;
        padding-top: 50px;
    }

    .block4_inner .block4_banner{
        height: 50%;
    }
}

@media screen and (max-width:850px){

    .content h1 a{
        font-size: 45px;
    }

    .header_title P{
        display: none;
    }

    .info{
        top: 40%;
        left: 60%;
    }

    .header_title a img{
        width: 90px;
    }

    .block3_content{
        width: 80%;
        left: 10%;
        bottom: 15%;
    }

    .block5_upper div{
        width: 27%;
    }

    .block5_upper_inner2::before{
        display: none;
    }
    
    .block5_upper_inner2::after{
        display: none;
    }

    .block5_lower{
        width: 90%;
        margin-top: 60px;
    }

    .block1_inside .block1_inner h1{
        margin-top: 0px;
    }
}

@media screen and (max-width:700px){

    .block2_title h1,
    .block3_title h1{
        font-size: 40px;
    }

    .block3_content{
        bottom: 10%;
    }

    .main_block2{
        padding-bottom: 30px;
    }

    .block3_title p{
        width: 70%;
        margin: 0 auto;
    }

    .block3_inner:hover .block3_content h5::before{
        width: 70%;
        left: 15%;
    }

    .block1_inner1{
        height: 400px;
    }
}

@media screen and (max-width:650px){

    .block2_title h1,
    .block3_title h1{
        font-size: 36px;
    }

    .block3_inner .block3_content h5::before{
        height: 2px;
    }

    .block3_inner:hover .block3_content h5::before{
        width: 75%;
        left: 12.5%;
    }

    .block5_upper{
        margin: 0 auto;
        margin-top: 70px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
    }

    .block5_upper div{
        width: 40%;
        margin-bottom: 35px;
        padding: 20px 0;
    }
}

@media screen and (max-width:600px){

    .header_container{
        height: 500px;
    }

    .header_title a img{
        display: none;
    }
    
    .info{
        top: 75%;
        left: 22%;
    }

    .header_buttons{
        top: 13%;
        left: 17%;
    }

    .circle{
        width: 700px;
        height: 700px;
        right: 12%;
        top: -20%;
    }

    .block3_content{
        width: 95%;
        left: 2.5%;
        bottom: 15%;
    }

    .carousel-control-prev,
    .carousel-control-next{
        display: none !important;
    }

    .block4_inner{
        width: 100%;
        margin-bottom: 30px;
        height: 450px;
    }
    
    .block4_inner .block4_content{
        height: 40%;
        padding-top: 30px;
    }

    .block4_inner .block4_banner{
        height: 60%;
    }

    .main_block4{
        height: 1880px;
    }
}

@media screen and (max-width:550px){

    .swiper-container{
        width: 90%;
        height: 80%;
        margin-top: 7%;
    }

    .block2_title h1,
    .block3_title h1{
        font-size: 34px;
    }

    .block2_upper_inner h2{
        font-size: 28px;
    }

    .block4_inner:hover .block4_content{
        background: rgb(71, 145, 255);
    }

    .block4_inner:hover .block4_content h3,
    .block4_inner:hover .block4_content p{
        color: white;
    }

    .block4_inner .block4_content{
        transition: .3s;
    }

    .block3_content{
        width: 95%;
        left: 2.5%;
        bottom: 15%;
    }

    .block3_content h5{
        width: 80%;
        margin-bottom: 10px;
        font-size: 26px;
    }

    .block3_content p{
        width: 90%;
        font-size: 15px;
    }

    .block3_content h5::before{
        display: none;
    }
}

@media screen and (max-width:500px){

    .block2_title h1,
    .block3_title h1{
        font-size: 32px;
    }

    .block5_upper div{
        width: 60%;
        margin-bottom: 35px;
        padding: 20px 0;
    }

    .block5_upper{
        margin-top: 70px;
        height: 620px;
    }
}

@media screen and (max-width:450px){

    .block2_title h1,
    .block3_title h1{
        font-size: 30px;
    }

    .block2_title p{
        font-size: 16px;
    }

    .content h1 a{
        font-size: 40px;
    }

    .header_container{
        height: 450px;
    }
    
    .block1_inner1{
        height: 350px;
    }

    .block4_inner .block4_content{
        height: 45%;
    }

    .block4_inner .block4_banner{
        height: 55%;
    }
}

@media screen and (max-width:400px){

    .block2_title h1,
    .block3_title h1{
        font-size: 28px;
    }

    .info{
        top: 75%;
        left: 18%;
    }

    .header_buttons{
        top: 13%;
        left: 13%;
    }

    .circle{
        width: 750px;
        height: 750px;
        right: 7%;
        top: -25%;
    }
}