@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* header */

.header_container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 657px;
    overflow: hidden;
    background: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(107, 106, 106);
}

/* header_buttons */

.header_buttons{
    position: absolute;
    top: 25%;
    left: 20%;
}

.content{
    border-left: 5px solid rgb(51, 51, 51);
}

.content h1{
    position: relative;
    margin: 0;
    padding-bottom: 5px;
    color: white;
}

.content h1:hover::before{
    opacity: 1;
}

.content h1::before{
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
    background: rgb(71, 145, 255);
    opacity: 0;
    z-index: 10;
}

.content h1 a{
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-size: 50px;
    font-weight: 400;
    margin-left: 20px;
    transition: 0.4s;
}

.content h1 a:hover{
    color:rgb(71, 145, 255);
}

.content span{
    font-size: 18px;
    padding-right: 5px;
    color: rgb(247, 247, 247);
    position: relative;
    transition: 0.4s;
    bottom: 20px;
    opacity: 0;
}

.content h1 a:hover span{
    opacity: 1;
    transition: 0.5s;
}

.content h1 a:hover{
    transition: 0.4s;
    padding-left: 15px;
}

/* info */

.info{
    position: absolute;
    top: 43%;
    left: 55%;
}

@keyframes logo{
    100%{
        transform: scale(1.1);
    }
}

/* header_title */

.header_title{
    width: 100%;
    text-align: center;
}

.header_title a img{
    width: 100px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    border-radius: 50%;

    animation: logo 1s linear infinite alternate;
}

.header_title img:hover{
    animation-play-state: paused;
}

.header_title P{
    font-style: italic;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    color: rgb(37, 37, 37);
}

/* main */

.main{
    border: 2px solid rgb(49, 49, 49);
    margin: 0 auto;
    color: rgb(46, 46, 46);
    font-weight: 600;
    font-size: 15px;
    display: block;
    padding: 4px 0;
    width: 100px;
    text-align: center;
    transition: .3s;
    margin-top: 20px;
}

.main:hover{
    text-decoration: none;
    border: 2px solid rgb(71, 145, 255);
    background: rgb(71, 145, 255);
    color: white;
}

/* circle is a rotating block inside of a header with a white background*/

.circle{
    width: 1100px;
    height: 1100px;
    border: 3px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    position: absolute;
    right: 12%;
    top: -20%;

    animation: boll 45s ease infinite alternate;
}

@keyframes boll{
    100%{
        transform: rotate(360deg);
    }
}

/* main */

/* main_block1 */

.main_block1{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 50px;
    position: relative;
}

.turn{
    position: absolute;
    bottom: -100px;
    transform: rotate(80deg);
}

.turn1{
    left: 40px;
    background: rgb(71, 145, 255);
    height: 40px;
    width: 40px;

    animation: up 10s linear infinite;
}

.turn2{
    right: 80px;
    background: rgb(71, 145, 255);
    height: 20px;
    width: 20px;

    animation: up 19s linear 5s infinite;
}

.turn3{
    right: 140px;
    background: rgb(71, 145, 255);
    height: 30px;
    width: 30px;

    animation: up 25s linear infinite;
}

.turn4{
    left: 200px;
    background: rgb(71, 145, 255);
    height: 15px;
    width: 15px;

    animation: up 30s linear infinite;
}

.turn5{
    left: 250px;
    background: rgb(71, 145, 255);
    height: 30px;
    width: 30px;

    animation: up 15s linear 1s infinite;
}

.turn6{
    left: 450px;
    background: rgb(71, 145, 255);
    height: 20px;
    width: 20px;

    animation: up 25s linear infinite;
}

.turn7{
    right: 450px;
    background: rgb(71, 145, 255);
    height: 20px;
    width: 20px;

    animation: up 19s linear 3s infinite;
}

.turn8{
    right: 550px;
    background: rgb(71, 145, 255);
    height: 35px;
    width: 35px;

    animation: up 25s linear 5s infinite;
}

.turn9{
    right: 680px;
    background: rgb(71, 145, 255);
    height: 35px;
    width: 35px;

    animation: up 14s linear 9s infinite;
}

.turn10{
    right: 740px;
    background: rgb(71, 145, 255);
    height: 25px;
    width: 25px;

    animation: up 33s linear 13s infinite;
}

.turn11{
    right: 830px;
    background: rgb(71, 145, 255);
    height: 15px;
    width: 15px;

    animation: up 27s linear 15s infinite;
}

.turn11{
    right: 900px;
    background: rgb(71, 145, 255);
    height: 20px;
    width: 20px;

    animation: up 37s linear 2s infinite;
}


@keyframes up{
    100%{
        transform: translate(0px, -1300px);
    }
}

.block1_inside{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    position: relative;
}

.block1_inside .block1_inner{
    width: 49%;
    text-align: center;
}

.swiper-container{
    width: 80%;
    height: 80%;
    margin-top: 7%;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: .3s;
}

.swiper-slide:hover{
    transform: scale(1.1);
}

.swiper-slide1{
    background: url('../img/academy1.jpg') center / cover;
}

.swiper-slide2{
    background: url('../img/academy2.jpg') center / cover;
}

.swiper-slide3{
    background: url('../img/academy3.jpg') center / cover;
}

.swiper-slide4{
    background: url('../img/academy2.jpg') center / cover;
}

.swiper-slide5{
    background: url('../img/academy3.jpg') center / cover;
}

.block1_inside .block1_inner h1{
    color: rgb(49, 49, 49);
    margin-bottom: 20px;
    margin-top: 30px;
}

.block1_inside .block1_inner p{
    color: rgb(49, 49, 49);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* main_block2 */

.main_block2{
    width: 100%;
    background: rgb(71, 145, 255);
    padding: 50px 0;
    padding-bottom: 70px;
}

.block2_title{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.block2_title h1{
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
}

.block2_title p{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

.block2_upper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.block2_upper div{
    width: 30%;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    background: rgb(42, 127, 255);
    transition: .3s;
}

.block2_upper div:hover{
    box-shadow: 0px 0px 7px white;
}

.block2_upper div h2{
    color: white;
    margin-bottom: 12px;
    position: relative;
}

.block2_upper div p{
    color: white;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
}

/* main_block3 */

.cap{
    position: absolute;
    bottom: -50px;
    transform: rotate(80deg);
}

.cap1{
    left: 40px;
    background: rgb(71, 145, 255);
    height: 40px;
    width: 40px;

    animation: down 10s linear infinite;
}

.cap2{
    right: 80px;
    background: rgb(71, 145, 255);
    height: 20px;
    width: 20px;

    animation: down 19s linear 5s infinite;
}

.cap3{
    right: 140px;
    background: rgb(71, 145, 255);
    height: 30px;
    width: 30px;

    animation: down 25s linear infinite;
}

.cap4{
    left: 200px;
    background: rgb(71, 145, 255);
    height: 15px;
    width: 15px;

    animation: down 30s linear infinite;
}

.cap5{
    left: 250px;
    background: rgb(71, 145, 255);
    height: 30px;
    width: 30px;

    animation: down 15s linear 1s infinite;
}

.cap6{
    left: 450px;
    background: rgb(71, 145, 255);
    height: 20px;
    width: 20px;

    animation: down 25s linear infinite;
}

.cap7{
    right: 450px;
    background: rgb(71, 145, 255);
    height: 20px;
    width: 20px;

    animation: down 19s linear 3s infinite;
}

.cap8{
    right: 550px;
    background: rgb(71, 145, 255);
    height: 35px;
    width: 35px;

    animation: down 25s linear 5s infinite;
}

.cap9{
    right: 680px;
    background: rgb(71, 145, 255);
    height: 35px;
    width: 35px;

    animation: down 14s linear 9s infinite;
}

.cap10{
    right: 740px;
    background: rgb(71, 145, 255);
    height: 25px;
    width: 25px;

    animation: down 33s linear 13s infinite;
}

.cap11{
    right: 830px;
    background: rgb(71, 145, 255);
    height: 15px;
    width: 15px;

    animation: down 27s linear 15s infinite;
}

.cap12{
    right: 900px;
    background: rgb(71, 145, 255);
    height: 20px;
    width: 20px;

    animation: down 37s linear 2s infinite;
}


@keyframes down{
    100%{
        transform: translate(0px, -1620px);
    }
}

.main_block3{
    padding: 80px 0px;
    padding-bottom: 50px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.block3_title{
    width: 100%;
    margin-bottom: 90px;
    text-align: center;
}

.block3_title h1{
    color: rgb(75, 75, 75);
    font-size: 50px;
    margin-bottom: 10px;
}

.block3_title p{
    color: rgb(75, 75, 75);
}

/* block3_inside1 */

.block3_inside1{
    margin: 0 auto;
    background: rgb(71, 145, 255);
    width: 60%;
    position: relative;
    height: 500px;
    margin-bottom: 150px;
}

.block3_inside1:hover .block3_banner1{
    top: -10%;
    width: 70%;
    height: 65%;
    right: 15%;
}

.block3_inside1:hover .block3_content1{
    width: 70%;
    top: 65%;
    left: 15%;
    text-align: center;
}

.block3_banner1{
    position: absolute;
    width: 55%;
    height: 90%;
    top: 5%;
    background: url('../img/Laptop-Work-iStock-1193685384-Delmaine-Donson-770x469.jpg')left / cover;
    right: -15%;
    transition: .5s;
}

.block3_content1{
    position: absolute;
    width: 70%;
    top: 25%;
    left: -20%;
    padding: 20px 25px;
    background: white;
    border: 4px solid rgb(73, 73, 73);
    height: 50%;
    transition: .5s;
    padding-top: 30px;
}

.block3_content1 h3{
    color: rgb(75, 75, 75);
    margin-bottom: 20px;
}

.block3_content1 p{
    color: rgb(75, 75, 75);
}

/* block3_inside2 */

.block3_inside2{
    margin: 0 auto;
    background: rgb(71, 145, 255);
    width: 60%;
    position: relative;
    height: 500px;
    margin-bottom: 100px;
}

.block3_inside2:hover .block3_banner2{
    top: -10%;
    width: 70%;
    height: 65%;
    left: 15%;
}

.block3_inside2:hover .block3_content2{
    width: 70%;
    top: 65%;
    right: 15%;
    text-align: center;
}

.block3_banner2{
    position: absolute;
    width: 55%;
    height: 90%;
    top: 5%;
    background: url('../img/Laptop-Work-iStock-1193685384-Delmaine-Donson-770x469.jpg')right / cover;
    left: -15%;
    transition: .5s;
}

.block3_content2{
    position: absolute;
    width: 70%;
    top: 25%;
    right: -20%;
    padding: 20px 25px;
    padding-top: 30px;
    background: white;
    border: 4px solid rgb(73, 73, 73);
    height: 50%;
    transition: .5s;
    text-align: right;
}

.block3_content2 h3{
    color: rgb(75, 75, 75);
    margin-bottom: 20px;
}

.block3_content2 p{
    color: rgb(75, 75, 75);
}

/* main_block4 */

.main_block4{
    width: 100%;
    height: 400px;
}

.block4_inside{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.block4_inner{
    width: 25%;
    position: relative;
}

.block4_inner:hover .block4_content h3{
    color: rgb(71, 145, 255);
}

.block4_inner:hover::before{
    background: none;
}

.block4_inner::before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.block4_inner .block4_content{
    width: 100%;
    text-align: center;
    height: 50%;
    padding-top: 25px;
}

.block4_inner .block4_content p{
    font-weight: 300;
    margin: 0 auto;
    width: 80%;
}

.block4_inner .block4_banner{
    width: 100%;
    height: 50%;
}

.block4_banner1{
    background: url('../img/academy1.jpg') center / cover;
}

.block4_banner2{
    background: url('../img/academy2.jpg') center / cover;
}

.block4_banner3{
    background: url('../img/academy3.jpg') center / cover;
}

.block4_banner4{
    background: url('../img/academy1.jpg') center / cover;
}

/* main_block5 */

.main_block5{
    width: 100%;
    padding-top: 50px;
}

.block5_upper{
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.block5_upper div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
}

.block5_upper div:hover i{
    transform: scale(-1,1);
    color: rgb(71, 145, 255);
}

.block5_upper div:hover h2{
    color: rgb(71, 145, 255);
}

.block5_upper div i{
    font-size: 80px;
    transition: .3s;
    color: rgb(80, 80, 80);

    animation: around 5s linear infinite alternate;
}

.block5_upper div h2{
    margin-top: 20px;
    transition: .3s;
    color: rgb(80, 80, 80);
}

.block5_upper_inner2::before{
    content: "";
    position: absolute;
    top: 45%;
    right: -111px;
    background: rgb(80, 80, 80);
    height: 4px;
    width: 60px;
}

.block5_upper_inner2::after{
    content: "";
    position: absolute;
    top: 45%;
    left: -111px;
    background: rgb(80, 80, 80);
    height: 4px;
    width: 60px;
}

/* block5_lower */

.block5_lower{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

.block5_lower p{
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
}

/* footer */

/* main_footer */

.main_footer{
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    padding: 50px 0;
    background: rgb(0, 0, 0);
}

/* footer_inside */

.footer_inside{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.footer_inside div{
    width: 25%;
}

.footer_inside div:nth-child(1){
    padding-left: 20px;
}

.footer_inside div:nth-child(2){
    width: 50%;
}

/* footer_title */

.footer_title{
    color: white;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 30px;
    position: relative;
}

.footer_title::before{
    content: "";
    position: absolute;
    left: 0;
    background: rgb(0, 102, 255);
    height: 2px;
    width: 60%;
    bottom: -8px;
}

/* footer_inner1 */

.footer_inner ul{
    padding: 0px;
    list-style: none;
}

.footer_inner ul li{
    margin-bottom: 15px;
}

.footer_inner ul li a{
    color: white;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    letter-spacing: 1px;
    transition: .2s;
}

.footer_inner ul li a::before{
    content: "";
    position: absolute;
    left: -5px;
    bottom: 6px;
    background:rgb(0, 102, 255);
    height: 8px;
    width: 8px;
    transition: .2s;
    transform: rotate(45deg);
    opacity: 0;
}

.footer_inner ul li a:hover{
    font-weight: 600;
    text-decoration: none;
    padding-left: 12px;
}

.footer_inner ul li a:hover::before{
    opacity: 1;
    animation: boll 2s ease infinite alternate;
}

.footer_inner3 div{
    margin-bottom: 30px !important;
}

.footer_inner3 div a{
    padding: 3px 9px;
    font-size: 22px;
    color: white;
    margin-right: 10px;
    background: rgb(32, 32, 32);
    transition: .3s;
    border-radius: 3px;
}

.footer_inner3 div a i{
    transition: .3s;
}

.footer_inner3 div a:hover i{
    transform: scale(1.1);
}

.footer_inner3 div a:hover{
    background: rgb(0, 102, 255);
}

.footer_inner div p{
    color: white;
    font-weight: 300;
    line-height: 1.5;
    font-size: 15px;
    letter-spacing: 1px;
}

.footer_inner div{
    margin: 20px 0;
    width: 90%;
}

.footer_inner3 ul:nth-child(2){
    margin-bottom: 40px;
}