@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}



/* header */



.header_container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 597px;
    overflow: hidden;
    background: #000;
    border-bottom: 1px solid rgb(235, 235, 235);
}



/* header_buttons */



.header_buttons{
    position: absolute;
    top: 150px;
    left: 22%;
}

.content{
    border-left: 5px solid black;
}

.content h1{
    position: relative;
    margin: 0;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.842);
}

.content h1:hover::before{
    opacity: 1;
}

.content h1::before{
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
    background: rgb(44, 255, 44);
    opacity: 0;
    z-index: 10;
}

.content h1 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.842);
    font-size: 50px;
    font-weight: 400;
    margin-left: 20px;
    transition: 0.4s;
}

.content h1 a:hover{
    color:rgb(44, 255, 44);
}

.content span{
    font-size: 18px;
    padding-right: 5px;
    color: rgb(247, 247, 247);
    position: relative;
    transition: 0.4s;
    bottom: 20px;
    opacity: 0;
}

.content h1 a:hover span{
    opacity: 1;
    transition: 0.5s;
}

.content h1 a:hover{
    transition: 0.4s;
    padding-left: 15px;
}



/* info */



.info{
    position: absolute;
    top: 38%;
    left: 60%;
}

@keyframes logo{
    100%{
        transform: scale(1.1);
    }
}



/* header_title */



.header_title{
    width: 100%;
    text-align: center;
}

.header_title a{
    display: block;
}

.header_title a:nth-child(2){
    color: black;
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
    padding: 7px 0;
    width: 120px;
    border: 2px solid rgb(61, 61, 61);
    margin: 0 auto;
    margin-top: 40px;
    transition: .3s;
}

.header_title a:nth-child(2):hover{
    background: rgb(44, 255, 44);
    border: 2px solid rgb(44, 255, 44);
    color: white;
}

.header_title a img{
    width: 150px;
    margin-bottom: 0px;

    animation: logo 2s linear infinite alternate;
}

.header_title img:hover{
    animation-play-state: paused;
}

.header_title P{
    font-style: italic;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    color: black;
}



/* circle is a rotating block inside of a header with a white background*/



.circle{
    width: 1100px;
    height: 1100px;
    border: 3px solid black;
    background: white;
    position: absolute;
    right: 12%;
    top: -20%;

    animation: boll 45s ease infinite alternate;
}

@keyframes boll{
    100%{
        transform: rotate(360deg);
    }
}



/* main */

/* main_block1 */



.main_block1{
    width: 95%;
    margin: 0 auto;
    margin-top: 120px;
    overflow: hidden;
}



/* block1_container1 */



.block1_container1{
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
    display: flex;
}



/* block1_unner */



.block1_inner{
    width: 50%;
    height: 500px;
    position: relative;
}

.block1_inner2{
    padding-left: 50px;
}



/* java banner */



.block1_inner1::before{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    background: url('../img/java_block1.png')center / cover;
    width: 100%;
    height: 100%;
    z-index: 10;
    clip-path: polygon(25% 0, 75% 0, 100% 30%, 100% 70%, 75% 100%, 25% 100%, 0% 70%, 0% 30%);
}

.block1_inner3::before{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    background: url('../img/java_block.png')center / cover;
    width: 100%;
    height: 100%;
    z-index: 10;
    clip-path: polygon(25% 0, 75% 0, 100% 30%, 100% 70%, 75% 100%, 25% 100%, 0% 70%, 0% 30%);
}

.block1_inner2 h2{
    color: rgb(44, 255, 44);
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    position: relative;
}

.block1_inner2 p{
    color: rgb(49, 49, 49);
    font-size: 16px;
    margin: 0 auto;
    width: 80%;
    letter-spacing: 3px;
    line-height: 1.7;
    margin-top: 20px;
    font-weight: 500;
}

.block1_container1 .block1_inner2 p:nth-child(2):first-letter{
    font-size: 20px;
    color: rgb(44, 255, 44);
}



/* block1_container2 */



.block1_container2{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
}

.block1_inner2{
    padding-top: 20px;
}

.block1_container2 .block1_inner2{
    padding: 0px;
    padding-top: 20px;
    padding-right: 50px;
}



/* main_block2 */



.main_block2{
    width: 100%;
    margin-top: 100px;
    padding: 70px 0;
    background: #000;
    position: relative;
}



/* block2_inside */



.block2_inside{
    margin: 0 auto;
    width: 90%;
    height: 450px;
    padding-bottom: 20px;
}



/* block2_content */



.block2_content{
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.block2_content h1{
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin: 10px 0;
    margin-top: 20px;
}

.block2_content:hover h1::before{
    height: 450px;
}

.block2_banner{
    width: 100%;
    position: relative;
    margin-bottom: 130px;
}

.block2_banner img{
    position: absolute;
    top: -25px;
    left: 42%;
    transition: .3s;
}

.block2_banner1 img{
    left: 41%;
}

.block2_banner img:nth-child(2){
    opacity: 1;
    pointer-events: all;
}

.block2_banner img:nth-child(1){
    opacity: 0;
    pointer-events: none;
}

.swiper-slide:hover .block2_banner img:nth-child(1){
    opacity: 1;
    pointer-events: all;
}

.swiper-slide:hover .block2_banner img:nth-child(2){
    opacity: 0;
    pointer-events: none;
}

.block2_content p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 1.7;
    font-weight: 500;
    letter-spacing: 2px;
}



/* swiper */



.swiper-container{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}


.main_block2::before{
    content: "";
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    background: rgb(42,194,0);
    background: linear-gradient(0deg, rgba(42,194,0,0.45702030812324934) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 100%);
    position: absolute;
}


/* banner2 */



.block2_content .block2_banner2 img{
    left: 43%;
}

.block2_content .block2_banner2 img:nth-child(1){
    left: 41.7%;
}



/* main_block3 */



.main_block3{
    width: 100%;
    margin-top: 50px;
}

.block3_container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
    grid-template: repeat(2, 250px) / repeat(4, 1fr);
}



/* main_title */



.main_title{
    width: 100%;
    margin-top: 50px;
    margin-bottom:60px;
}

.main_title h1{
    color: rgb(39, 39, 39);
    text-align: center;
    font-size: 70px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.main_title p{
    color: rgb(36, 36, 36);
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.main_title p a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .3s;
    border-bottom: 1px dotted black;
}

.main_title p a:hover{
    color: rgb(44, 255, 44);
    border: none;
}



/* block_inner */



.block3_inner:hover a img{
    transform: scale(.9);
}

.block3_inner a img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .3s;
}



/* main_block4 */



.main_block4{
    width: 100%;
    padding: 30px 0;
    overflow: hidden;
    margin-top: 100px;
    background: rgb(0, 0, 0);
}

.block4_inside{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.block4_inner1{
    width: 70%;
}

.block4_inner2{
    width: 30%;
    text-align: center;
}

.block4_inner1 P{
    font-size: 17px;
    color: rgb(252, 252, 252);
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0px !important;
}

.block4_inner2 a{
    color: white;
    display: block;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    font-size: 14px;
    padding: 13px 0;
    font-weight: 600;
    border: 1px solid rgb(44, 255, 44);
    box-shadow: 0px 0px 2px rgb(44, 255, 44);
    width: 200px;
    transition: .3s;
    letter-spacing: 2px;
}

.block4_inner2 a i{
    color: white;
}

.block4_inner2 a:hover{
    background: rgb(44, 255, 44);
    box-shadow: none;
    color: white;
    text-decoration: none;
}

.block4_inner2 a:hover{
    border: none;
}



/* main_block5 */



.main_block5{
    width: 100%;
    margin-top: 50px;
    padding-top: 40px;
    overflow: hidden;
}

.block5_inside{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.block5_inners{
    width: 50%;
}



/* block5_inside1 */



.block5_inside1 .block5_inner1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.block5_inside1 .block5_inner1 img{
    width: 90%;
    height: 95%;
}

.block5_inside1 .block5_inner2{
    text-align: center;
    padding-top: 60px;
}

.block5_inside1 .block5_inner2 h2{
    color: rgb(39, 39, 39);
    font-size: 50px;
    margin: 0px;
    margin-bottom: 20px;
}

.block5_inside1 .block5_inner2 p{
    color: rgb(39, 39, 39);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0 auto;
    width: 80%;
    letter-spacing: 1px;
}



/* block5_inside2 */



.block5_inside2 .block5_inner2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.block5_inside2 .block5_inner2 img{
    width: 90%;
    height: 95%;
}

.block5_inside2 .block5_inner1{
    text-align: center;
    padding-top: 70px;
}

.block5_inside2 .block5_inner1 h2{
    color: rgb(39, 39, 39);
    font-size: 50px;
    margin: 0px;
    margin-bottom: 20px;
}

.block5_inside2 .block5_inner1 p{
    color: rgb(39, 39, 39);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0 auto;
    width: 80%;
    letter-spacing: 1px;
}



/* Java */



.java{
    width: 100%;
    margin-top: 60px;
    overflow: hidden;
}

.java_inside{
    width: 90%;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}

.java_inside div{
    width: 50%;
    text-align: center;
}

.java_right img{
    width: 70%;
    height: 100%;
}

.java_left{
    padding-top: 100px;
}

.java_left h2{
    color: rgb(39, 39, 39);
    font-size: 50px;
    margin: 0px;
    margin-bottom: 30px;
    position: relative;
}

.java_left h2::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 45%;
    background: rgb(44, 255, 44);
    height: 3px;
    width: 10%;
}

.java_left p{
    color: rgb(39, 39, 39);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0 auto;
    width: 80%;
    letter-spacing: 1px;
}

.java_left p:nth-child(3){
    margin-top: 30px;
}



/* main_block6 */



.main_block6{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* block6_upper */

.block6_upper{
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}

.block6_upper h1{
    color: rgb(39, 39, 39);
    font-size: 60px;
    margin-bottom: 30px;
    position: relative;
}

.block6_upper h1 span{
    color: rgb(44, 255, 44);
}

.block6_upper h1::before{
    content: "";
    position: absolute;
    left: 47.5%;
    bottom: -15px;
    width: 5%;
    height: 4px;
    background: rgb(44, 255, 44);
}

.block6_upper p{
    width: 50%;
    margin: 0 auto;
    font-weight: 500;
    color:  rgb(75, 75, 75);
    line-height: 1.6;
    font-size: 18px;
}

/* block6_inside */

.block6_inside{
    width: 90%;
    margin: 0 auto;
    height: 340px;
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
}

.block6_inside .block6_inner{
    text-align: center;
    padding-top: 160px;
    transition: .5s;
    width: 30%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 6px 20px rgb(241, 241, 241);
}

.block6_inner:hover{
    transform: translate(0px , -15px);
}

.block6_inner img{
    width: 110px;
    left: 36%;
    top: 40px;
    position: absolute;
    transition: .3s;
}

.block6_inner:hover img:nth-child(1){
    opacity: 1;
    pointer-events: all;
}

.block6_inner:hover img:nth-child(2){
    opacity: 0;
    pointer-events: none;
}

.block6_inner img:nth-child(1){
    opacity: 0;
    pointer-events: none;
}

.block6_inner img:nth-child(2){
    opacity: 1;
    pointer-events: all;
}

.block6_inner h3{
    color: rgb(107, 107, 107);
    font-style: italic;
    margin-top: 20px;
}

.block6_inner p{
    color: rgb(107, 107, 107);
    width: 80%;
    margin: 0 auto;
}


/* main_block7 */


.main_block7{
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    padding: 30px 0px;
    box-shadow: 0px 5px 15px rgb(235, 235, 235);
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}   

.block7_inside{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
    display: flex;
}

.main_block7::before{
    content: "";
    position: absolute;
    background: rgb(44, 255, 44);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 0% 100%);
}

.block7_inner1{
    width: 40%;
    position: relative;
    padding-top: 50px;
}

.block7_inner2{
    width: 45%;
    padding-top: 30px;
    position: relative;
}

.block7_inner1 form{
    position: absolute;
    width: 100%;
    z-index: 10;
}

.block7_inner1 h3{
    color: rgb(70, 70, 70);
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.choose{
    color: rgb(85, 85, 85);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
    transition: .3s;
}

.choose i{
    margin-right: 10px;
    font-size: 20px;
    color: rgb(44, 255, 44);
}

.choose_block{
    margin-bottom: 25px !important;
}

.choose_block select{
    padding-bottom: 5px !important;
    height: 50px;
    cursor: pointer;
}

.check{
    margin-top: 30px;
}

.check label input{
    margin-right: 5px;
}

.check label {
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    color: black;
    font-size: 17px;
}

/* block7_inner2 */

.block7_inner2 form input{
    width: 100%;
    padding: 10px 15px;
    border: 2px solid rgb(214, 214, 214);
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    transition: .3s;
}

.block7_inner2 form textarea{
    width: 100%;
    height: 180px;
    padding: 10px 15px;
    border: 2px solid rgb(214, 214, 214);
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    transition: .3s;
}

.block7_inner2 form input:focus{
    background: #000;
}

.block7_inner2 form textarea:focus{
    background: #000;
}

.block7_inner2 form{
    text-align: center;
}

.block7_inner2 form button{
    width: 250px;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 9px 0;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    color: white;
    transition: .3s;
    border: 2px solid white;
    border-radius: 3px;
}

.block7_inner2 form button:hover{
    background: rgb(0, 0, 0);
}

::-webkit-input-placeholder {color: rgb(255, 255, 255);}


/* footer */

/* main_footer */

.main_footer{
    overflow: hidden;
    margin-top: 140px;
    width: 100%;
    padding: 50px 0;
    background: rgb(0, 0, 0);
}

/* footer_inside */

.footer_inside{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.footer_inside div{
    width: 25%;
}

.footer_inside div:nth-child(1){
    padding-left: 20px;
}

.footer_inside div:nth-child(2){
    width: 50%;
}

/* footer_title */

.footer_title{
    color: white;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 30px;
    position: relative;
}

.footer_title::before{
    content: "";
    position: absolute;
    left: 0;
    background: rgb(44, 255, 44);
    height: 2px;
    width: 80%;
    bottom: -8px;
}

/* footer_inner1 */

.footer_inner ul{
    padding: 0px;
    list-style: none;
}

.footer_inner ul li{
    margin-bottom: 10px;
}

.footer_inner3 ul li{
    margin-bottom: 10px;
}

.footer_inner3 ul{
    margin-bottom: 40px;
}

.footer_inner ul li a{
    color: white;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    letter-spacing: 1px;
    transition: .2s;
}

.footer_inner ul li a::before{
    content: "";
    position: absolute;
    left: -5px;
    bottom: 6px;
    background: rgb(44, 255, 44);
    height: 8px;
    width: 8px;
    transition: .2s;
    transform: rotate(45deg);
    opacity: 0;
}

.footer_inner ul li a:hover{
    font-weight: 600;
    text-decoration: none;
    padding-left: 12px;
}

.footer_inner ul li a:hover::before{
    opacity: 1;
    animation: boll 2s ease infinite alternate;
}


.footer_inner div p{
    color: white;
    font-weight: 300;
    line-height: 1.5;
    font-size: 15px;
    letter-spacing: 1px;
}

.footer_inner div{
    margin: 20px 0;
    width: 90%;
}


/* Adaptation */

@media screen and (max-width:1250px){

    .header_buttons{
        top: 130px;
    }

    .info{
        top: 34%;
    }

    .block3_container{
        grid-template: repeat(2, 230px) / repeat(4, 1fr);
    }
    
    .block6_inner img{
        width: 110px;
        left: 34%;
    }
}

@media screen and (max-width:1210px){

    .java_left p{
        width: 90%;
    }
}

@media screen and (max-width:1200px){

    .block6_inner img{
        width: 100px;
        left: 33%;
    }

    .block6_inside .block6_inner{
        padding-top: 150px;
    }

    .block2_banner img{
        left: 40%;
    }
}

@media screen and (max-width:1100px){

    .block3_container{
        grid-template: repeat(2, 210px) / repeat(4, 1fr);
    }

    .block1_inner{
        width: 50%;
        height: 470px;
        position: relative;
    }

    .block1_inner2{
        padding-left: 20px;
    }
    
    .block1_inner2 p{
        letter-spacing: 2px;
        line-height: 1.6;
    }
    
    .block5_inside1 .block5_inner1 img{
        height: 85%;
    }

    .main_block2{
        padding-bottom: 50px;
    }

    .block2_content .block2_banner2 img{
        left: 41%;
    }
    
    .block2_content .block2_banner2 img:nth-child(1){
        left: 39%;
    }

    .java_right img{
        width: 70%;
        height: 95%;
    }

    .header_buttons{
        left: 20%;
    }

    .info{
        left: 57%;
    }
}

@media screen and (max-width:1080px){

    .java_left p{
        width: 90%;
        font-size: 16px;
    }

    .java_right img{
        height: 85%;
    }

    .main_block5{
        margin-top: 0px !important;
    }
}

@media screen and (max-width:1050px){

    .java_right img{
        height: 90%;
    }

    .header_buttons{
        top: 110px;
    }

    .info{
        top: 31%;
    }

    .block5_inside1 .block5_inner2 h2,
    .block5_inside2 .block5_inner1 h2{
        font-size: 45px;
    }

    .block5_inside1 .block5_inner2 p,
    .block5_inside2 .block5_inner1 p{
        font-size: 16px;
    }
    
    .block4_inner1 P{
        font-size: 16px;
    }

    .block6_inside{
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
        height: 550px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .block6_inside .block6_inner{
        padding-top: 145px;
        width: 40%;
        height: 57%;
    }

    .block6_inner2{
        margin-top: 50px;
        height: 40% !important;
        width: 90% !important;
    }

    .block6_inner img{
        width: 110px;
        left: 35%;
        top: 8%;
    }

    .block6_inner2 img{
        width: 120px;
        left: 15%;
        top: 20%;
    }
    
    .block6_inner2 div{
        width: 50%;
        position: absolute;
        right: 10%;
        height: 60%;
        top: 16%;
    }

    .block6_inside2{
        margin-top: 90px !important;
    }
}

@media screen and (max-width:1036px){

    .block7_inner1 h3{
        font-size: 32px;
    }
}

@media screen and (max-width:1000px){

    .java_right img{
        height: 95%;
    }

    .block3_container{
        grid-template: repeat(2, 180px) / repeat(4, 1fr);
    }

    .block1_inner2 p,
    .block1_inner1 p{
        font-size: 15px;
    }

    .block2_banner img{
        left: 38%;
    }

    .header_container{
        height: 500px;
    }
    
    .content h1 a{
        font-size: 45px;
    }

    .header_title a img{
        width: 130px;
    }

    .info{
        top: 35%;
    }
    
    .footer_inside{
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer_inside .footer_inner{
        width: 50%;
    }

    .footer_inner1{
        order: 1;
        padding-left: 50px !important;
    }

    .footer_inner2{
        order: 3;
        width: 89% !important;
        margin: 0 auto;
        position: relative;
        margin-top: 30px;
    }

    .footer_inner2 div{
        width: 75%;
        position: absolute;
        right: 30px;
        top: 45px;
    }

    .footer_inner2 div p{
        margin: 0px 10px;
    }

    .footer_inner3{
        order: 2;
        padding-left: 100px !important;
        padding-top: 15px;
    }
    
    .footer_title3::before{
        width: 94% !important;
    }

    .footer_title::before{
        width: 65%;
    }

    .block5_inside1 .block5_inner2{
        padding-top: 30px;
    }

    .block5_inside2 .block5_inner1{
        padding-top: 20px;
    }

    .block4_inner1 P{
        font-size: 13px;
    }
}

@media screen and (max-width:950px){

    .block7_inner1 h3{
        font-size: 30px;
    }
}

@media screen and (max-width:900px){

    .footer_title::before{
        width: 80%;
    }
    
    .footer_inner1{
        padding-left: 45px !important;
    }

    .block6_inner img{
        left: 33%;
        width: 100px;
        top: 12%;
    }

    .block6_inner2 img{
        left: 15%;
        top: 23%;
    }

    .block3_container{
        grid-template: repeat(2, 170px) / repeat(4, 1fr);
    }
    
    .block5_inside1 .block5_inner2 h2,
    .block5_inside2 .block5_inner1 h2{
        font-size: 40px;
    }

    .circle{
        width:900px;
        height:900px;
        right: 12%;
        top: -20%;
    }

    .main_block1{
        margin-top: 90px;
    }

    /* container1 */
    
    .block1_container1{
        width: 100%;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .block1_inner{
        width: 90%;
    }

    .block1_inner1{
        width: 70%;
    }

    .block1_inner2{
        height: 400px;
        text-align: center;
        order: 2;
        padding: 0px !important;
        padding-top: 40px !important;
    }

    .block1_inner2 p{
        width: 100%;
    }

    /* container2 */

    .block1_container2{
        width: 100%;
        margin-bottom: 50px;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .block1_inner3{
        width: 70%;
    }

    .block1_inner4{
        height: 330px !important;
    }

    .main_block2{
        margin-top: 0px !important;
    }

    /* pictures */

    .block2_banner img{
        left: 37%;
    }
    
    .block2_content .block2_banner2 img{
        left: 39%;
    }
    
    .block2_content .block2_banner2 img:nth-child(1){
        left: 37%;
    }

    /* java */

    .java{
        margin-top: 60px;
    }

    .java_inside{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: none !important;
    }
    
    .java_inside div{
        width: 100%;
        text-align: center;
    }

    .java_left{
        order: 2;
        padding-top: 50px;
    }

    .java_right{
        order: 1;
        width: 60% !important;
        height: 350px;
    }
    
    .java_right img{
        width: 70%;
        height: 100%;
    }

    /* block5 */

    .block5_inside{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block5_inners{
        width: 100%;
    }

    .block5_inside2 .block5_inner1{
        order: 2;
        width: 100%;
        height: 200px;
    }

    .block5_inside2 .block5_inner2{
        order: 1;
        height: 400px;
        width: 80%;
    }
    
    .block5_inner1{
        height: 400px;
        width: 80%;
    }

    /* block7 */

    .block7_inside{
        width: 90%;
        margin: 0 auto;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .block7_inner1{
        width: 90%;
    }
    
    .block7_inner2{
        width: 90%;
        margin-top: 300px;
    }
}

@media screen and (max-width:800px){

    .footer_inner1{
        padding-left: 20px !important;
    }

    .footer_inner2{
        width: 94% !important;
    }

    .block6_inside .block6_inner{
        width: 45%;
    }

    .block6_inner2{
        width: 95% !important;
    }

    .block6_inner2 img{
        width: 120px;
    }
    
    .block6_upper h1{
        font-size: 50px;
    }

    .block6_upper p{
        width: 70%;
        margin: 0 auto;
    }

    /* block4 */

    .block4_inner1 P{
        font-size: 12px;
    }
    
    .block4_inner2 a{
        font-size: 13px;
        padding: 9px 0;
        width: 150px;
    }

    .block3_container{
        grid-template: repeat(2, 150px) / repeat(4, 1fr);
    }

    .header_buttons{
        position: absolute;
        left: 16%;
    }

    .info{
        left: 54%;
        top: 33%;
    }

    .block1_inner1,
    .block1_inner3{
        height: 450px;
    }
    
    /* pictures */

    .block2_banner img{
        left: 34%;
    }
        
    .block2_content .block2_banner2 img{
        left: 38%;
    }
        
    .block2_content .block2_banner2 img:nth-child(1){
        left: 36%;
    }
    
    .main_title h1{
        font-size: 60px;
    }
    
    .main_title p{
        font-size: 19px;
        margin: 0 auto;
        margin-top: 10px;
        width: 70%;
    }
    
    .main_title p a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        transition: .3s;
        border-bottom: 1px dotted black;
    }
    
    .main_title p a:hover{
        color: rgb(44, 255, 44);
        border: none;
    }
}

@media screen and (max-width:700px){

    .header_title a img{
        width: 110px;
    }

    .content h1 a{
        font-size: 40px;
    }

    .block1_inner1,
    .block1_inner3{
        height: 400px;
    }
    
    .block2_banner img{
        left: 32%;
    }
        
    .block2_content .block2_banner2 img{
        left: 36%;
    }
        
    .block2_content .block2_banner2 img:nth-child(1){
        left: 34%;
    }

    .block5_inside1 .block5_inner2,
    .block5_inside2 .block5_inner1{
        padding-top: 0px;
    }

    .footer_inner1{
        padding-left: 20px !important;
    }

    .footer_inner2{
        width: 93% !important;
    }

    .block6_inner2{
        width: 95% !important;
    }

    .block6_inner{
        margin-top: 50px;
        height: 40% !important;
        width: 90% !important;
    }
        
    .block6_inner div{
        width: 50%;
        position: absolute;
        right: 10%;
        height: 60%;
        top: 7%;
    }

    .block6_inner img{
        left: 14%;
        top: 20%;
        width: 110px;
    }

    .block6_inside2{
        margin-top: 260px !important;
    }

    .main_block6{
        margin-bottom: 350px;
    }
    
    .footer_inner3{
        padding-left: 40px !important;
        padding-top: 22px;
    }

    .footer_inner2 div p{
        font-size: 14px;
    }

    .block3_container{
        grid-template: repeat(2, 140px) / repeat(4, 1fr);
    }
}

@media screen and (max-width:650px){

    .header_container{
        height: 430px;
    }
    
    .header_buttons{
        left: 12%;
        top: 18%;
    }

    .info{
        left: 54%;
        top: 32%;
    }

    .circle{
        width:700px;
        height: 800px;
        right: 12%;
        top: -20%;
    }
}

@media screen and (max-width:600px){
    
    /* container1 */
    
    .block1_inner{
        width: 95%;
    }

    .block1_inner1{
        width: 80%;
    }

    .block1_inner2{
        height: 400px;
    }

    /* container2 */

    .block1_inner3{
        width: 80%;
    }

    .block1_inner4{
        height: 330px !important;
    }
    
    .block2_content{
        width: 80%;
    }

    .main_block2{
        padding: 30px 0;
    }

    .block2_banner img{
        left: 34%;
    }
        
    .block2_content .block2_banner2 img{
        left: 38%;
    }
        
    .block2_content .block2_banner2 img:nth-child(1){
        left: 35.5%;
    }

    .java_right{
        height: 300px;
    }

    .block5_inner1{
        height: 330px;
        width: 80%;
    }

    .block5_inside2 .block5_inner1{
        order: 2;
        width: 100%;
        height: 240px;
    }

    .block5_inside2 .block5_inner2{
        order: 1;
        height: 330px;
        width: 80%;
    }

    .main_title{
        margin-top: 0px !important;
    }

    .block4_inside{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .block4_inner1{
        margin-bottom: 30px;
        width: 80%;
    }

    .block4_inner1 P{
        font-size: 13px;
        line-height: 1.8;
        width: 100%;
        text-align: center;
    }

    .block6_inner div{
        width: 60%;
        right: 2%;
        top: 7%;
    }

    .block6_inner div h3{
        transition: .3s;
    }
    
    .block6_inner:hover div h3{
        color: rgb(44, 255, 44);
    }

    .block6_inner img{
        left: 10%;
        top: 23%;
        width: 100px;
    }

    .block7_inner1{
        padding-top: 20px !important;
    }
    
    .block7_inner1 h3{
        font-size: 35px;
    }
    
    .footer_inner1{
        padding-left: 10px !important;
    }

    .footer_inner2{
        width: 97% !important;
    }

    .footer_inner3{
        padding-left: 0px !important;
    }

    .footer_inner2 div p{
        font-size: 13px;
    }

    .block3_container{
        grid-template: repeat(2, 120px) / repeat(4, 1fr);
    }
}

@media screen and (max-width:550px){
    
    .block1_inner4{
        height: 380px !important;
    }

    .block2_banner img{
        left: 33%;
    }
        
    .block2_content .block2_banner2 img{
        left: 36%;
    }
        
    .block2_content .block2_banner2 img:nth-child(1){
        left: 33%;
    }

    .footer_inner3{
        padding-top: 21px;
    }
}

@media screen and (max-width:525px){

    .footer_inner2{
        width: 100% !important;
        text-align: center;
    }

    .footer_inner2 div p{
        display: none;
    }

    .footer_inner3{
        width: 100% !important;
        text-align: center;
    }

    .footer_inner1{
        width: 100% !important;
        text-align: center;
    }

    .footer_title::before{
        width: 100% !important;
        bottom: -14px;
    }

    .footer_title{
        margin-bottom: 35px;
    }

    .footer_inner ul li a::before{
        display: none;
    }

    .footer_inner ul li a:hover{
        color: rgb(44, 255, 44);
        padding-left: 0px;
    }

    .main_footer{
        margin-top: 70px;
    }

    .footer_inner ul li a{
        color: white;
        font-size: 18px;
        font-weight: 400;
        position: relative;
        letter-spacing: 1px;
        transition: .2s;
    }

    .footer_inner3{
        margin-bottom: 10px;
    }

    .footer_inner3 ul:nth-child(2){
        margin-bottom: 30px !important;
    }

    .footer_inner3 ul:nth-child(3){
        margin-bottom: 0px !important;
    }

    .footer_inner ul li{
        margin-bottom: 15px;
    }

    .block3_container{
        grid-template: repeat(2, 200px) / repeat(4, 1fr);
    }

    .block3_inner1{
        grid-column: 1 / 3;
    }

    .block3_inner2{
        grid-column: 3 / 5;
    }

    .block3_inner3{
        grid-column: 1 / 3;
    }

    .block3_inner4{
        grid-column: 3 / 5;
    }

    .block3_inner5{
        grid-column: 1 / 3;
    }

    .block3_inner6{
        grid-column: 3 / 5;
    }

    .block3_inner7{
        grid-column: 1 / 3;
    }

    .block3_inner8{
        grid-column: 3 / 5;
    }

    .circle{
        width: 600px;
        height: 600px;
        right: 6%;
        top: -20%;
    }
}

@media screen and (max-width:500px){

    .block6_inner{
        margin-top: 50px;
        height: 40% !important;
        width: 95% !important;
    }
      
    .block6_inside{
        margin-top: 0px;
    }

    .block6_upper{
        margin-bottom: 10px;
    }
    
    .block3_container{
        grid-template: repeat(2, 180px) / repeat(4, 1fr);
    }

    .block7_inner1{
        width: 95%;
    }

    .block7_inner2{
        width: 95%;
        margin-top: 300px;
    }

    .java_right{
        height: 250px;
    }
    
    .block5_inside2 .block5_inner1{
        order: 2;
        width: 100%;
        height: 280px;
    }

    .block5_inside2 .block5_inner2{
        order: 1;
        height: 300px;
        width: 80%;
    }

    .block5_inner1{
        height: 300px;
        width: 80%;
    }

    .block1_inner1,
    .block1_inner3{
        width: 90%;
        height: 350px;
    }

    .block1_inner4{
        height: 400px !important;
    }

    .header_buttons{
        left: 12%;
        top: 12%;
    }

    .info{
        left: 17.5%;
        top: 70%;
    }

    .header_title img{
        display: none;
    }

    .circle{
        width: 500px;
        height: 500px;
        right: 20%;
        top: -5%;
    }

    .header_container{
        height: 450px;
    }

    .block7_inner1 h3{
        font-size: 32px;
    }
}

@media screen and (max-width:475px){

    .block6_upper h1{
        font-size: 45px;
    }

    .block6_upper h1::before{
        width: 20%;
        left: 40%;
    }

    .block6_upper p{
        width: 80%;
        font-size: 15px;
    }
    
    .block6_inner div{
        width: 60%;
        right: 2%;
        top: 7%;
    }

    .block6_inner div h3{
        font-size: 25px;
    }

    .block6_inner div p{
        font-size: 15px;
    }
}

@media screen and (max-width:450px){

    .block1_inner4{
        height: 450px !important;
    }
    
    .block1_container2{
        margin-top: 90px;
    }

    .circle{
        width: 550px;
        height: 550px;
        right: 10%;
        top: -8%;
    }

    .block2_banner img{
        left: 31%;
    }
        
    .block2_content .block2_banner2 img{
        left: 34%;
    }
        
    .block2_content .block2_banner2 img:nth-child(1){
        left: 31%;
    }

    .block5_inside2 .block5_inner1{
        order: 2;
        height: 310px;
    }

    .block3_container{
        grid-template: repeat(2, 170px) / repeat(4, 1fr);
    }

    .block6_inner{
        margin-top: 50px;
        height: 38% !important;
        width: 95% !important;
    }

    .block6_inside2{
        margin-top: 230px !important;
    }

    .block5_inside2 .block5_inner2{
        order: 1;
        height: 290px;
        width: 90%;
    }

    .block5_inner1{
        height: 290px;
        width: 90%;
    }
}

@media screen and (max-width:425px){

    .block5_inside2 .block5_inner1{
        order: 2;
        height: 320px;
    }

    .block4_inner2{
        width: 70%;
    }
    
    .block7_inner1 h3{
        font-size: 29px;
    }

    .block6_inner div{
        width: 70%;
        left: 15%;
        height: 80%;
        top: 7%;
        opacity: 0;
        pointer-events: none;
    }

    .block6_inner img:nth-child(2){
        left: 28%;
        top: 20%;
        width: 40%;
        pointer-events: all;
        opacity: 1;
    }

    .block6_inner:hover img:nth-child(1){
        opacity: 0;
    }

    .block6_inner:hover div{
        opacity: 1;
        pointer-events: all;
    }

    .block6_inner{
        height: 40% !important;
        width: 80% !important;
    }

    .block6_inside2{
        margin-top: 260px !important;
    }
}

@media screen and (max-width:400px){

    .circle{
        width: 500px;
        height: 500px;
        right: 6%;
        top: -2%;
    }

    .block1_inner1,
    .block1_inner3{
        width: 95%;
        height: 310px;
    }

    .block1_container2{
        margin-top: 130px;
    }

    .block1_inner4{
        height: 420px !important;
        padding-top: 0px !important;
    }

    .block2_banner img{
        left: 28%;
    }
        
    .block2_content .block2_banner2 img{
        left: 33%;
    }
        
    .block2_content .block2_banner2 img:nth-child(1){
        left: 30%;
    }

    .java_right{
        height: 260px;
        width: 80% !important;
    }

    .block5_inside2 .block5_inner2{
        order: 1;
        height: 270px;
        width: 95%;
    }

    .block5_inner1{
        height: 270px;
        width: 95%;
    }
       
    .block5_inside1 .block5_inner2 h2,
    .block5_inside2 .block5_inner1 h2{
        font-size: 33px;
    }

    .block3_container{
        grid-template: repeat(2, 150px) / repeat(4, 1fr);
    }

    .block6_upper h1{
        font-size: 40px;
    }
}

@media screen and (max-width:375px){

    .block7_inner1 h3{
        font-size: 27px;
    }

    .block3_container{
        grid-template: repeat(2, 140px) / repeat(4, 1fr);
    }

    .block5_inside2 .block5_inner1{
        order: 2;
        height: 350px;
    }

    .block2_banner img{
        left: 26%;
    }
        
    .block2_content .block2_banner2 img{
        left: 31%;
    }
        
    .block2_content .block2_banner2 img:nth-child(1){
        left: 27%;
    }
    
    .block1_inner4{
        height: 450px !important;
    }

    .block6_inner img:nth-child(2){
        left: 24%;
        top: 19%;
        width: 50%;
    }

    .footer_inner ul li a{
        font-size: 17px;
    }
}

@media screen and (max-width:366px){

    .block1_container2{
        margin-top: 130px;
    }
}   

@media screen and (max-width:350px){

    .block7_inner1 h3{
        font-size: 25px;
    }

    .block1_container2{
        margin-top: 150px;
    }

    .block1_inner4{
        height: 510px !important;
        padding-top: 10px !important;
    }

    .circle{
        width: 500px;
        height: 500px;
        right: 1%;
        top: -5%;
    }

    .block6_inner div{
        width: 80%;
        left: 10%;
    }

    .form-control {
        font-size: 18px !important;
    }
}